//Colors
$primary: #3A9AFC;
$secondary: #40E6B7;
$greenSuccess: #54FC3A;
$yellow: #F2EA38;
$danger: #ff0000;
$dark-gray: #363636;
$light-gray: #D8D8D8;
//Google colors
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;